Django==1.9
django-autoslug==1.9.3
django-bootstrap3==6.2.2
django-debug-toolbar==1.4
django-gravatar2==1.4.0
django-markdown-deux==1.0.5
markdown2==2.3.0
python-dateutil==2.4.2
requests==2.8.1
six==1.10.0
sqlparse==0.1.18
