{% extends "meta.html" %}
{% load bootstrap3 %}
{% load static %}

{% block messages %}<!-- Overriding normal messages to display them inside the auth box -->{% endblock messages %}

{% block content %}

	<div class="container">
	
	<h1 class="elan-democrate ">
		<a href="{% url 'connexion' %}">
			<i class="fa fa-chevron-right"></i>
			Élan Démocrate
		</a>
	</h1>

	{% include "messages.html" %}

	<h2>Inscription à la phase de test </h2>


	<div id="authentication">
	<form class="ajax-form" action="{% url 'beta' %}"
	method="POST" role="form" enctype="multipart/form-data">{% csrf_token %}
		{% csrf_token %}
		{% bootstrap_form form %}
		<p style="margin-top: 2rem; "><button type="submit" class="btn btn-block orange"><i class="fa fa-paper-plane"></i> Envoyer</button></p>
		</form>
	</div>
	
	<style>.form-group { margin-bottom: 1.5rem }</style>

	{% include "spinner.html" %}
	
	{% include "auth/auth_css.html" %}

	{% include "auth/auth_scripts_and_styles.html" %}

	</div>

{% endblock content %}
