{% extends "base.html" %}

{% block content %}{{ block.super }}

<div class="col-md-4" style="text-align: center;">

	<div class="panel panel-default">
	<div class="panel-heading"><h2>Contrôle des mandats</h2></div>
	<div class="panel-body">
		<p><a href="{% url 'initialisation_edem'%}" class="btn btn-primary">Initialize JDem mandat data</a></p>
		<p><a href="{% url 'delete_all_mandates'%}" class="btn btn-primary">Delete all mandat data</a></p>
	</div>
	</div>

</div>

<div class="col-md-4" style="text-align: center;">

	<div class="panel panel-default">
	<div class="panel-heading"><h2>Contrôle du fichier</h2></div>
	<div class="panel-body">
		<p><a href="{% url 'delete_all_adherents'%}" class="btn btn-primary">Delete all adherent data</a></p>
	</div>
	</div>

</div>

<div class="col-md-4" style="text-align: center;">

	<div class="panel panel-default">
	<div class="panel-heading"><h2>Contrôle des posts</h2></div>
	<div class="panel-body">
		<p><a href="{% url 'initialize_base_posts'%}" class="btn btn-primary">Initialize base posts</a></p>
		<p><a href="{% url 'delete_all_posts'%}" class="btn btn-primary">Delete all posts</a></p>
	</div>
	</div>

</div>


{% endblock content %}