{% extends "base.html" %}
{% load staticfiles %}


{% block head %}{{ block.super }}

<title>Traitement du fichier adhérents</title>
<link rel="stylesheet" href="{% static 'css/etapes.css' %}">

{% endblock head %}



{% block content %}{{ block.super }}

<!-- Cibles du :target pour affichage cachage des étapes -->
<span id="etape-2"></span>
<span id="etape-3"></span>
<span id="etape-4"></span>

<br>

<h1>Traitement du fichier importé</h1>

<br>


<div class="etape-1"><div>

<a style="float: right" class="btn btn-primary" href="#etape-2">Continuer</a>

	<h2>Analyse du fichier : {{ fichier.slug }}</h2>
	
	<p>Ce fichier contient les données de <strong>{{ fichier.adhérentdufichier_set.all.count }}</strong> adhérents :</p>
	
	<table class="table">
		<tr>
			<th>#</th>
			<th>Nom</th>
			<th>Prénom</th>
		</tr>
		{% for adhérent in fichier.adhérentdufichier_set.all %}
		<tr>
			<td>{{ adhérent.num_adhérent }}</td>
			<td>{{ adhérent.nom }}</td>
			<td>{{ adhérent.prénom }}</td>
		</tr>
		{% endfor %}  
	</table>
	
	<a style="float: right" class="btn btn-primary" href="#etape-2">Continuer</a>

</div></div>


<div class="etape-2"><div>

	{% if fichier.adhérentdufichier_set.all.count > 10 %}
	<a style="float: right" class="btn btn-primary" href="#etape-3">Continuer</a>
	{% endif %}

	<h2>Importation des nouveaux adhérents</h2>

	{% if nombre_nouveaux_adherents == 0 %}
	<p>Le fichier ne comprend <strong>pas</strong> de nouveaux adhérents.</p>
	{% elif nombre_nouveaux_adherents == 1 %}
	<p>Le fichier comprend <strong>un</strong> nouvel adhérent.</p>
	{% else %}
	<p>Le fichier comprend <strong>{{ nombre_nouveaux_adherents }}</strong> nouveaux adhérents.</p>
	{% endif %}
	
	<a style="float: right" class="btn btn-primary" href="#etape-3">Continuer</a>

</div></div>


<div class="etape-3"><div>

	<h2>Réadhésions</h2>

	{% if nombre_réadhésions == 0 %}
	<p>Selon le fichier, <strong>il n'y a pas eu</strong> de réadhésions.</p>
	{% elif nombre_réadhésions == 1 %}
	<p>Selon le fichier, <strong>une personne</strong> a réadhéré.</p>
	{% else %}
	<p>Selon le fichier, <strong>{{ nombre_réadhésions }}</strong> personnes ont renouvellé leur adhésion.</p>
	{% endif %}

	<a style="float: right" class="btn btn-primary" href="#etape-4">Continuer</a>

</div></div>


<div class="etape-4"><div>

	<h2>Récapitulatif :</h2>
	<p>Adhérents inclus dans le fichier : <strong>{{ fichier.adhérentdufichier_set.all.count }}</strong></p>
	<p>Nouveaux adhérents ajoutés à la base : <strong>{{ nombre_nouveaux_adherents }}</strong></p>
	<p>Réadhésions : <strong>{{ nombre_réadhésions }}</strong></p>
	<br>
	<p><strong>Merci d'avoir importé le fichier adhérent !</strong></p>

	<a class="btn btn-default" href="/">Retour à l'accueil</a>

</div></div>

{% endblock content %}