{% extends "base.html" %}

{% block head %}{{ block.super }}

<title>EDEM - Accueil</title>

{% endblock head %}



{% block content %} {{ block.super }}

{% if aggregateur %}
<div class="col-sm-8" style="float: right;">
	{% include aggregateur.template %}
</div>
{% endif %}


{% if carte_profil %}
<div class="col-sm-4">
	{% include carte_profil.template %}
</div>
{% endif %}


{% if message_accueil %}
<div class="col-sm-4">
	{% include message_accueil %}
</div>
{% endif %}


{% endblock content %}