{% extends "base.html" %}
{% load static %}

{% block head %}{{ block.super }}

<link rel="stylesheet" href="{% get_static_prefix %}css/aggregateur.css" >

{% endblock head %}



{% block content %} {{ block.super }}

{% include aggregateur.template %}

{% comment %}
{% if message_accueil %}
<div class="col-sm-4">
	{% include message_accueil %}
</div>
{% endif %}
{% endcomment %}

{% endblock content %}



{% block scripts %} {{ block.super }}

<script src="{% get_static_prefix %}js/aggregateur.js"></script>

{% endblock scripts %}