/* STRUCTURE EXTERNE */

#main-container.container-fluid { padding: 0; overflow-x: auto; max-width: 100%; }
#primary-wrapper, #secondary-wrapper { float: left; margin-left: 2%; }
#primary-wrapper { width: 72%; }
#secondary-wrapper { width: 22%; }
@media screen and (max-width: 767px) {
	#secondary-wrapper .card { overflow-y: scroll; max-height: calc(100vh - 78px);}
}

/* RÉACTIVITÉ */

/* Pages d'affichage des posts */

#aggregateur { width: 100%;	}
#aggregateur { transition: all .5s ease-in-out; }

@media screen and (min-width: 768px) { #sidebar-toggle { max-height: 0; padding: 0; box-shadow: none; border: none; margin: 0; overflow: hidden; } }

@media screen and (max-width: 767px) {
	#primary-wrapper, #secondary-wrapper { margin-left: 1.01%; }
	#primary-wrapper { width: 53.93%; }
	#secondary-wrapper { width: 42.70%; }
	#aggregateur { width: 179%;	}
	#aggregateur.sidebar-show { margin-left: -77.5%; }
/*	#sidebar-toggle::before { content: "À propos de : "; } */
}

#sidebar-back { position: absolute; right: 1rem; top: .65em; color: transparent; transition: all 1s ease-in-out; }
.sidebar-show #sidebar-back { color: #EC7C34; }

/* Page de nouveau post*/

@media screen and (max-width: 767px) {
	.nouveau-post .panel-body { display: none; }
	.nouveau-post .panel-heading { position: relative; cursor: pointer;}
	.nouveau-post .panel-heading::after { content: '+'; position: absolute; top: 25%; right: 1.4em; font-size: 1.4em; }
}

/* Modifier un post */

.post .modifier { max-width: 69rem; display: none; }


/* META DONNES DES POSTS */

.post::after { clear: both; visibility: hidden; display: block; font-size: 0; content: " "; height: 0; }
.post .title { line-height: 1.4; }

.post .illustration { text-align: center; min-width: 9.5rem; }
.post .illustration img { max-width: 8rem; max-height: 6rem; }

.actions .link { margin-right: .5em; margin-top: .5em; font-weight: bold; }
.actions .link.active { color: #EC7C34; }
.actions .link a:link, .actions .link a:visited { color: #999; }


/* PAGE D'AFFICHAGE D'UN POST UNIQUE */

article.post { width: 100%; position: relative; text-align: center; }
article .postbox, article .illustration { display: block; }
article .meta { margin: 2rem auto; }
article .meta .channel a { color: inherit; }
article .meta span a:hover { color: #EC7C34; }
article .content { display: inline-block; text-align: left; font-size: 1.6rem; margin: 2rem 0; } /* Inline-block so that the post content is centered if it is short text */
article .content p { line-height: 1.8; }
article .content p a:hover { border-bottom: 1px solid #EC7C34; }
article.post .illustration img { max-width: 100%; max-height: none; }
article.post .illustration { max-width: 72rem; max-width: calc(100vw - 30px); height: auto; width: auto; margin: 2rem 0; padding: 0; text-align: center; }
article .vote { font-size: 1.2em; }
article .postbox { width: 72rem; max-width: 100%; margin: auto; padding: 0 1rem;}
article .postbox h1.title { max-width: 72rem; font-size: 2.8rem; text-align: center; margin-right: auto; margin-left: auto; color: #EC7C34; }
article .healthbox, .comment .meta { display: inline-block; vertical-align: middle; margin-right: .5rem; }
article .healthbox div { display: inline-block; color: #999; }
article .health { vertical-align: .2rem; margin: 0 .5rem;}
article .vote { font-size: 1.2em; }
article .actions { margin: 2rem 0; }


/* PAGE D'AFFICHAGE D'UNE CHAÎNE DE POSTS */

.posts .post { padding: 15px 32px 14px 0px; border-bottom: 1px solid #F2F2F2; display: table; }
.posts .postbox { width: 99%; }
.posts .healthbox, .posts .illustration, .posts .postbox { display: table-cell; vertical-align: top; }
.posts .healthbox, .posts .illustration { padding-right: 15px; white-space: nowrap; }
.posts .healthbox { line-height: 1em; text-align: center; color: #ccc; font-size: 1.2em; width: 8rem; padding-left: 15px; }
.posts .health { font-size: .8em; }
.posts .vote .glyphicon { padding: .1em .1em 0 0; }
.posts .title { display: inline-block; margin-top: 0; margin-bottom: 0; color: #EC7C34; line-height: 1.25;}
.posts .meta { font-size: .8em; }
.posts .actions { font-weight: bold; }
@media screen and (max-width: 450px) {
	.posts .healthbox {
		position: absolute;
		top: 4em;
		left: 0px;
		font-size: 1em;
		padding: 0px;
		width: 2.8em;
	}
	.posts .post { padding-right: 10px; position: relative; }
	.posts .illustration { padding-left: 5px; height: 6em; }
	.posts .illustration { text-align: center; min-width: 4.75rem; padding-top: 3px; }	
	.posts .illustration img { max-width: 4rem; max-height: 3rem; }
}


/* VOTES */

.vote { transition: color 1s; color: #999; }
.vote.neg { color: #CCC; }
.vote:hover { color: #EC7C34; cursor: pointer; }
.post[data-color="POS"] .vote.pos,
.post[data-color="NEG"] .vote.neg { color: #EC7C34; }
.comment[data-color="POS"] > .healthbox .vote.pos,
.comment[data-color="NEG"] > .healthbox .vote.neg { color: #EC7C34; }


/* COMMENTS */

.comment .healthbox, .comment .meta { display: inline-block; vertical-align: middle; margin-right: .5rem; }
.comment .meta { font-size: 0.8m; }
.comment .healthbox div { display: inline-block; color: #999; }
.comment .health { vertical-align: .2rem; margin: 0 .5rem;}
.comment .vote { font-size: 1.2em; }

.comment { margin-top: .5rem;}
.comment .actions { margin: 0; }

.comment .modifier { max-width: 69rem; display: none; }

.comment .content { margin-top: .5rem; }

.comments .deleted { font-size: .8em; color: #808080; font-style: italic; }
.comments .supprimer { display: inline; }

.comments .supprimer input[id^="checkbox-delete-comment"],
.comments .supprimer input[id^="checkbox-delete-comment"]:not(:checked) ~ button { display: none; }
.comments .supprimer button { padding: 0px 1em; margin-right: .5em;}

.comment-shower { color: #999; display: none; }


/* CHANNEL SIDEBAR */

#secondary-wrapper { color: #999; }
#secondary-wrapper .box { color: #999; padding: 0 1rem 1rem; }
#secondary-wrapper h3 { padding: 0 1rem 2rem; border-bottom: 1px solid #F2F2F2; }
#secondary-wrapper h3 a:link,
#secondary-wrapper h3 a:visited  { color: inherit; }
#secondary-wrapper h3 a:hover,
#secondary-wrapper h3 a:active { color: #EC7C34; }


.box .moderators { font-size: .8em; }
.box hr {
	margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

/****************/





#aggregateur .source,
#aggregateur .meta,
#aggregateur .actions { color: #999; }
#aggregateur .actions { font-size: .8em; }
#aggregateur .posts a:not(:hover) { color: inherit; }



.anchor { margin-top: 1px; }




/* On annule le formattage différent des h1/h2/h3/h4/ */
/* Y'a aussi du jQuery pour faire le ménage */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 { font-size: 1.6rem; margin-top: 0; line-height: 1.8; } 

.comment-form { display: none; }

.comments .comment.card:target { border-left: .25em solid #EC7C34; }

.comments .comments-wrapper > .comment > .comment { background-color: #f6f6f6; }
.comments .comments-wrapper > .comment > .comment > .comment { background-color: #ffffff; }
.comments .comments-wrapper > .comment > .comment > .comment > .comment { background-color: #f6f6f6; }
.comments .comments-wrapper > .comment > .comment > .comment > .comment > .comment { background-color: #ffffff; }
.comments .comments-wrapper > .comment > .comment > .comment > .comment > .comment > .comment { background-color: #f6f6f6; }
.comments .comments-wrapper > .comment > .comment > .comment > .comment > .comment > .comment > .comment { background-color: #ffffff; }
.comments .comments-wrapper > .comment > .comment > .comment > .comment > .comment > .comment > .comment > .comment { background-color: #f6f6f6; }
.comments .comments-wrapper > .comment > .comment > .comment > .comment > .comment > .comment > .comment > .comment > .comment { background-color: #ffffff; }
.comments .comments-wrapper > .comment > .comment > .comment > .comment > .comment > .comment > .comment > .comment > .comment > .comment { background-color: #f6f6f6; }



.root-commentor.comment-form { display: block; }
.root-commentor .nouveau_commentaire { display: none; }
.root-commentor .toggle.btn-primary::after { content: 'Commenter'; }
.root-commentor .toggle.btn-default::after { content: 'Annuler'; }


input[id^="checkbox-modify-comment"],
input[id^="checkbox-modify-comment"]:checked ~ .content,
input[id^="checkbox-modify-comment"]:not(:checked) ~ .modifier { display: none; }


label:hover { cursor: pointer; }

/*** Pagination ***/

.pagination { width: 100%; text-align: center; color: #999; }
.pagination a:hover { text-decoration: none; }



/*** Nouveau Post ***/

.panel.nouveau-post label { display: block; }
.panel.nouveau-post label:first-child::after { content: " :"; }


a:visited .title { color: #d2824e; }

/* naut */
.posts { padding: 0; }
.card {
	position: relative;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.16);
	border-radius: 2px;
	animation-name: fadein;
	animation-duration: 0.75s;
	animation-iteration-count: 1;
	-webkit-animation-name: fadein;
	-webkit-animation-duration: .75s;
	-webkit-animation-iteration-count: 1;
	margin-bottom: 1rem;
}

.card:not(.alert):not(.btn) {
	padding: .5rem 1rem;
	background-color: white;
	border: 1px solid #eee;
}

.card.btn-primary { }
.card.btn:hover { }

.card .card-announcement { text-align: center; color: #999; }
.card .card-announcement:first-child { margin-top: 4em; }
.card .card-announcement:last-child { margin-bottom: 3.5em; }


@-webkit-keyframes fadein { 0% { opacity: 0; transform: translateY(48px); -webkit-transform: translateY(48px); } 100% { opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px); } }
@-moz-keyframes fadein { 0% { opacity: 0; transform: translateY(48px); -webkit-transform: translateY(48px); } 100% { opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px); } }
@-o-keyframes fadein { 0% { opacity: 0; transform: translateY(48px); -webkit-transform: translateY(48px); } 100% { opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px); } }
@keyframes fadein { 0% { opacity: 0; transform: translateY(48px); -webkit-transform: translateY(48px); } 100% { opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px); } }



