/* Styles de la page d'authentification
***************************************/

body.authentification-body {
	width: 100%;
	background-color: #111;
	color: gray;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body.authentification-body
div.container {
	width: 44rem;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 25%;
	margin-top: 15vh;
}

body.authentification-body
h1.elan-democrate {
	color: #EC7C34;
	font-size: 3rem;
	text-align: center;
	margin-bottom: 3rem;
}

body.authentification-body
h2 {
	font-size: 2rem;
	margin-bottom: 2rem;
}

body.authentification-body
input#numero_adherent_ou_email {
	margin: 2rem 0;
}

body.authentification-body
input.form-control { background-color: #444; border-color: #444; color: #EC7C34; }

body.authentification-body
input.form-control:focus {
		border-color: #ccc;
        -moz-box-shadow:    none;
        -webkit-box-shadow: none;
        box-shadow:         none;
}

body.authentification-body input.checkbox-hack							{ display: none; }
body.authentification-body input.checkbox-hack 			+ label 		{ font-weight: normal; margin-top: 2rem; display: block; }
body.authentification-body input.checkbox-hack 			+ label:before 	{ content: "+ ";}
body.authentification-body input.checkbox-hack:checked 	+ label:before 	{ content: "- ";}
body.authentification-body input.checkbox-hack 			+ label:hover 	{ color: #EC7C34; cursor: pointer; }
body.authentification-body input.checkbox-hack 			+ label + p 	{ display: none; }
body.authentification-body input.checkbox-hack:checked 	+ label + p 	{ display: block; font-size: .9em; border-left: .15em solid #333; padding-left: 1rem; }

body.authentification-body a,
body.authentification-body a:link { color: inherit; } /* override bootstrap blue links */
body.authentification-body p a:link { font-weight: bold; } /* fat links when inside paragraphs */
body.authentification-body a:hover { text-decoration: none; border-bottom: .1em solid #EC7C34; } /* override bootstrap blue links */

body.authentification-body label { font-weight: normal; } /* override bootstrap bold labels */
body.authentification-body p { margin-bottom: 15px;}

body.authentification-body .btn.orange { margin-top: 1rem; }


body .btn.orange { background-color: #222; border-color: #777; color: #777; }
body .btn.orange:hover { border-color: #EC7C34; color: #EC7C34; }
body .btn.orange:focus { border-color: #ccc; color: #ccc; }
