@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic,600,600italic&subset=latin,latin-ext);
body { font-family: 'Open Sans', sans-serif; }

.small { font-size: .6em; }

footer { margin-top: 4em; }

.navbar-inverse .navbar-brand:hover { color: #EC7C34; }
.navbar-inverse .navbar-brand:focus { color: #ccc; }
.navbar-inverse .navbar-toggle .icon-bar { background-color: #777;}
.navbar-inverse .navbar-toggle:hover { background-color: inherit; border-color: #EC7C34;}
.navbar-inverse .navbar-toggle:hover .icon-bar { background-color: #EC7C34;}

.navbar-inverse .form-control { background-color: #444; border-color: #444; color: #EC7C34; }

.navbar-inverse .form-control:focus {
		border-color: #ccc;
        -moz-box-shadow:    none;
        -webkit-box-shadow: none;
        box-shadow:         none;
}

.navbar-inverse .btn.orange { background-color: #222; border: none; color: #777; }
.navbar-inverse .btn.orange:hover { color: #EC7C34; }
.navbar-inverse .btn.orange:focus { color: #ccc; }
@media (max-width: 767px) { .navbar-inverse .btn.orange { margin-bottom: .25em; } }

input:invalid:not(:focus) { border-color: red; }

.navbar-inverse .profile-picture { padding: 9px; } /* interacts with the image size (32px) to fit the bar */
.navbar-inverse .profile-picture img { border-radius: 4px; margin-right: .5em; height: 32px;}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #EC7C34;
}

/* Dans la barre de navigation, affiche les sous-menu des boutons quand on hover ces boutons */
/* Uniquement appliqué lorsque la classe "easy_drop" est donnée */
/* nav .dropdown.easy_drop:hover .dropdown-menu { display: block; } */

.panel > .panel-heading { background-image: url('../images/bg.jpg'); background-color: white; }
.main-container [class^="col"] { padding: 0 10px; }

.anchor { clear: both; }

.dropdown-menu .glyphicon { padding-right: 10px; }

.tags span:not(:last-of-type):after { content: ", "; }

.glyphicon + .icon-counter {
	position: absolute;
	bottom: 24px;
	font-size: 10px;
	left: 29px;
	left: calc(50% + 0.5em);
}
