@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic,600,600italic&subset=latin,latin-ext);

html {  min-height: 100%; position: relative; }
@media screen and (max-width: 767px) { html { font-size: 9px; } } }
@media screen and (max-width: 450px) { html { font-size: 8px; } }

body { font-family: 'Open Sans', sans-serif; background-color: #fafafa; }

.small { font-size: .6em; }

footer { margin-top: 4em; }

.navbar { margin: 0; }
.navbar .container-fluid { padding: 1rem 2%; }
.navbar .navbar-brand .glyphicon { font-size: .88em; margin-right: -.2em; }
.navbar .navbar-brand { font-size: 2.4rem; }
.navbar { text-transform: uppercase; }
.navbar #notifications { text-transform: none; }
.navbar a { transition: color .5s; border-radius: .2em; }
.navbar a:not(:hover) { color: #999; }
.navbar a:hover { color: #EC7C34; background: none; }
.navbar .btn.focus, .navbar .btn:focus { color: #666; }
.navbar .btn:hover { color: #EC7C34; background: none; }
.navbar .navbar-brand:hover { color: #EC7C34; }
.navbar .navbar-brand:focus { color: #E4742C; }

@media screen and (max-width: 767px) {
	.navbar li { text-align: right; border-top: .25em solid #F2F2F2; box-shadow: 0px 0.5em 2em rgba(0, 0, 0, 0.025) inset; }
	.navbar li li { text-align: left; border-top: 0px solid white; }
	.navbar-nav { border-bottom: .25em solid #eee; }
}

.navbar-toggle { color: white; background-color: #999; transition: all .5s; text-align: center; }
.navbar-toggle .icon-bar { background-color: white; }

.navbar .form-control:focus {
		border-color: #CCC;
		border-radius: .5em;
        -moz-box-shadow:    none;
        -webkit-box-shadow: none;
        box-shadow:         none;
}

.nav>li>a:focus, .nav>li>a:hover { background: none; }
.dropdown-menu>li>a:hover { color: #EC7C34; background: none; }
.dropdown-menu>li>a:not(:hover) { color: #666; }
.dropdown-menu .divider { margin: 5px 0; }

.navbar .profile-picture { padding: 9px; } /* interacts with the image size (32px) to fit the bar */
.navbar .profile-picture img { border-radius: 4px; margin-right: .5em; height: 32px;}
.navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:hover, .navbar .navbar-nav > .open > a:focus {
	background: none;
	border-color: #ccc;
	box-shadow: inset 0 .2em 1em rgba(0,0,0,.125);
}


.main-container [class^="col"] { padding: 0 10px; }

.anchor { clear: both; }
 
.dropdown-menu .glyphicon { padding-right: 13px; }

.tags span:not(:last-of-type)::after { content: ", "; }

.glyphicon + .icon-counter {
	position: absolute;
	bottom: 24px;
	font-size: 10px;
	left: 29px;
	left: calc(50% + 0.5em);
}

footer.endpage {
	margin-top: 30rem; /* margin + content of footer-wrapper which is positioned absolutely */
}

footer.endpage .footer-wrapper {
	padding: 4rem 2rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: .8em;
	font-style: italic;
	color: #666;
}

footer.endpage a:not(:hover) { color: #999; }
footer.endpage a { font-weight: bold; }

.btn-primary, .btn-primary.card, .btn-primary:visited { background-color: #EC7C34; border-color: #E4742C; color: white; }
.btn-primary:hover,
.btn-primary:focus { background-color: #E4742C; border-color: #DC6C24; color: white; }
.btn-primary:active,
.btn-primary:active:focus { background-color: #DC6C24; border-color: #D5651D; color: white; }

.btn-default, .btn-default.card { color: #999; }
.btn-default:hover,
.btn-default:focus { background-color: white; border-color: #ccc; color: #666; }
.btn-default:active,
.btn-default:active:focus,
.btn-default:active:hover { background-color: white; border-color: #bbb; color: #666; }

.btn, .btn:hover, .btn:focus, .btn:active, .btn:active:focus { outline: 0; transition: all 0.15s; }

.form-group { margin-bottom: 1rem; }

a { transition: color .5s;}
a,
a:visited { outline: 0; color: #E4742C; }
a:hover,
a:focus { color: #DC6C24; text-decoration: none; outline: 0; }
a:active { color: #D5651D; outline: 0; }

.link { transition: color .5s; }
.link:hover { color: #E4742C; cursor: pointer; }

.form-control:focus {
	border-color: #FFA961;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(236, 124, 52, 0.25);
}

.form-control.nofocus:focus {
	box-shadow: none; 
	border-color: #CCC;
}

a.btn-default:link,
a.btn-default:active,
a.btn-default:visited { color: #999; transition: all .5s; }
a.btn-default:hover { background-color: #EC7C34; color: white; border-color: #D5651D; }

/* ACTOR TEMPLATE */

.actor {
	position: relative;
	padding-left: 2.2em;
}

.actor img { height: 1.428em; } /* Avatar sizing based on font-size */

.nav .actor { padding-left: 34px; }
.nav .actor img { top: -2px; height: auto; } /* Override the relative sizing of the avatar */

.actor img {
	position: absolute; top: 0; left: 4px;
	border-radius: 100%;
	opacity: .85; transition: all .5s;
}

.actor:hover img { opacity: .85; }

.actor:after { content:","; }
.actor:last-child:after { content:""; }

a:link.actor, a:visited.actor { color: inherit; }
a:hover.actor { color: #DC6C24; }
