/*** Profil ***/

.profil { margin-top: 2rem; }
.profil .gravatar { border-radius: 100%; margin-bottom: 2rem; }


.profil.editable .editable:not(:hover):after { display: none; }

.profil .editable { position: relative; }
 /*.panel.profil .editable:after { content: "\270f"; color: rgba(0, 0, 0, 0.8); position: absolute; top: 0; right: 0; font-family: "Glyphicons Halflings"; }*/

.profil.editable .profile-picture.editable .gravatar-edit { position: absolute; width: 100%; text-align: center; }
.profil.editable .profile-picture.editable .gravatar-edit p { margin: 1em auto 0 auto; max-width: 30em; }

.profil.editable .profile-picture.editable:hover img { opacity: .2; }
.profil.editable .profile-picture.editable:not(:hover) .gravatar-edit { display: none; }

.profil .profil-body { text-align: center; }

.profil .profil-body h2 {  }

.profil .profil-body span:not(:last-of-type):after { content: ", "; }
