#notifications #loaded-notifications { font-size: .9em; }
#notifications #loaded-notifications > li a { max-width: 100%; width: 32em; white-space: normal; }
#notifications .notification img { float: left; margin-right: 12px; border-radius: 4px; }
/*	#loaded-notifications .notification.non-lue a { font-weight: bold; } */
#notifications.tout-vu #non-vues.icon-counter { display: none; }
#notifications:not(.open):not(.tout-vu) .dropdown-toggle { color: #EC7C34; }
