<div class="col-sm-8">
    <div class=" panel panel-default">
        <div class="panel-body">
            Reddit-style block
        </div>
    </div>
    <div class=" panel panel-default">
        <div class="panel-body">
            Reddit-style block
        </div>
    </div>
    <div class=" panel panel-default">
        <div class="panel-body">
            Reddit-style block
        </div>
    </div>
    <div class=" panel panel-default">
        <div class="panel-body">
            Reddit-style block
        </div>
    </div>
    <div class=" panel panel-default">
        <div class="panel-body">
            Reddit-style block
        </div>
    </div>
    <div class=" panel panel-default">
        <div class="panel-body">
            Reddit-style block
        </div>
    </div>
</div>