{% extends "base.html" %}
{% load static %}

{% block head %}{{ block.super }}

<title>EDEM - Profil</title>
<link rel="stylesheet" href="{% get_static_prefix %}css/membres.css" >
<link rel="stylesheet" href="{% get_static_prefix %}css/mandats.css" >

{% endblock head %}



{% block content %} {{ block.super }}

<div class="profil {% if user == membre %}editable{% endif %}">
	<div class="clearfix text-center">
		<h1>{{ membre.profil.nom_courant }}</h1>
		<div class="editable profile-picture">
			{% load gravatar %}
			{% if user == membre %}
			<div class="gravatar-edit">
				<p>Votre avatar est géré par <strong>Gravatar</strong>.</p>
				<p>Il dépend de votre adresse mail.</p>
				<p>Pour modifier votre avatar, cliquez <a href="{% gravatar_profile_url user.email %}">ici</a>.</p>
			</div>{% endif %}
			<img class="gravatar img-responsive center-block" src="{% gravatar_url membre.email 128 %}" />
		</div>
	</div>
	<div class="profil-body">
		{% if membre.bio %}
			<li>
				{% include "mandats/widget_mandats.html" %}
			</li>
		{% endif %}
		{% if membre.occupations %}
			<li>
				<h2>Occupation{{ membre.occupations|pluralize }}</h2>
				{% include "mandats/widget_mandats.html" %}
			</li>
		{% endif %}
		{% if membre.mandats %}
			<li>
				<h2>Mandat{{ membre.mandats|pluralize }}</h2>
				{% include "mandats/widget_mandats.html" %}
			</li>
		{% endif %}
		{% if membre.interets %}
			<li>
				<h2>Intérêt{{ membre.interets|pluralize }}</h2>
				{% include "mandats/widget_mandats.html" %}
			</li>
		{% endif %}
		{% if membre.competences %}
			<li>
				<h2>Compétence{{ membre.competences|pluralize }}</h2>
				{% include "mandats/widget_mandats.html" %}
			</li>
		{% endif %}
	</div>
</div>

{% endblock content %}

				{% if membres.mandats %}
					<td>
						{% include "mandats/widget_mandats.html" %}
					</td>
				{% endif %}