{% extends "base.html" %}
{% load static %}

{% block head %}{{ block.super }}

<title>EDEM - Profil</title>
<link rel="stylesheet" href="{% get_static_prefix %}css/membres.css" >
<link rel="stylesheet" href="{% get_static_prefix %}css/mandats.css" >

{% endblock head %}



{% block content %} {{ block.super }}

<div class="profil {% if user == membre %}editable{% endif %}">
	<div class="clearfix text-center">
		<h1>{{ membre.profil.nom_courant }}</h1>
		<div class="editable profile-picture">
			{% load gravatar %}
			{% if user == membre %}
			<div class="gravatar-edit">
				<p>Votre avatar est géré par <strong>Gravatar</strong>.</p>
				<p>Il dépend de votre adresse mail.</p>
				<p>Pour modifier votre avatar, cliquez <a href="{% gravatar_profile_url user.email %}">ici</a>.</p>
			</div>{% endif %}
			<img class="gravatar img-responsive center-block" src="{% gravatar_url membre.email 128 %}" />
		</div>
	</div>
	<div class="profil-body">
		<div class="bio">
			<input id="profil-bio" class="spoiler" type="checkbox"/>
			<div class="public">
				{% if profil.bio %}
					<div class="bio">
						{% load markdown_deux_tags %}{{ profil.bio|markdown }}
					</div>
				{% endif%}
			</div>
			{% if user == membre %}
			<div class="pas-public">
				<p>Votre message de présentation :</p>
				<form method="POST" action="" enctype="multipart/form-data">
					<div class="form-group">
						{% csrf_token %}
						<textarea class="form-control" value="profil.bio"></textarea>
					</div>
				</form>
			</div>
			<label for="profil-bio" class="btn btn-default make-edit">
				<span class="glyphicon glyphicon-pencil"></span>
				Modifier mon message de présentation
			</label>
			<label for="profil-bio" class="btn btn-default cancel-edit">
				<span class="glyphicon glyphicon-remove"></span>
				Annuler la modification
			</label>
			{% endif %}
		</div>

		<div class="mandats">
			<input id="profil-mandats" class="spoiler" type="checkbox"/>
			{% if profil.mandats %}
				<div class="public">
					<h2>Mandat{{ profil.mandats|pluralize }}</h2>
					{% include "mandats/widget_mandats.html" %}
				</div>
			{% endif %}
			{% if user == membre %}
				<div class="pas-public">
					<h2>Mandat{{ profil.mandats|pluralize }}</h2>
				</div>
				<label for="profil-mandats" class="btn btn-default make-edit">
					<span class="glyphicon glyphicon-pencil"></span>
					Modifier mes mandats
				</label>
				<label for="profil-mandats" class="btn btn-default cancel-edit">
					<span class="glyphicon glyphicon-remove"></span>
					Annuler la modification
				</label>
			{% endif %}
		</div>

		<div class="occupations">
			<input id="profil-occupations" class="spoiler" type="checkbox"/>
			{% if profil.occupations %}
				<div class="public">
					<h2>Occupation{{ profil.occupations|pluralize }}</h2>
					{% include "mandats/widget_mandats.html" %}
				</div>
			{% endif %}
			{% if user == membre %}
				<div class="pas-public">
					<h2>Occupation{{ profil.occupations|pluralize }}</h2>
				</div>
				<label for="profil-occupations" class="btn btn-default make-edit">
					<span class="glyphicon glyphicon-pencil"></span>
					Modifier mes occupations
				</label>
				<label for="profil-occupations" class="btn btn-default cancel-edit">
					<span class="glyphicon glyphicon-remove"></span>
					Annuler la modification
				</label>
			{% endif %}
		</div>

		<div class="interets">
			<input id="profil-interets" class="spoiler" type="checkbox"/>
			{% if profil.interets %}
				<div class="public">
					<h2>Intérêt{{ profil.interets|pluralize }}</h2>
					{% include "mandats/widget_mandats.html" %}
				</div>
			{% endif %}
			{% if user == membre %}
				<div class="pas-public">
					<h2>Intérêt{{ profil.interets|pluralize }}</h2>
				</div>
				<label for="profil-interets" class="btn btn-default make-edit">
					<span class="glyphicon glyphicon-pencil"></span>
					Modifier mes intérêts
				</label>
				<label for="profil-interets" class="btn btn-default cancel-edit">
					<span class="glyphicon glyphicon-remove"></span>
					Annuler la modification
				</label>
			{% endif %}
		</div>

		<div class="competences">
			<input id="profil-competences" class="spoiler" type="checkbox"/>
			{% if profil.competences %}
				<div class="public">
					<h2>Compétences{{ profil.competences|pluralize }}</h2>
					{% include "mandats/widget_mandats.html" %}
				</div>
			{% endif %}
			{% if user == membre %}
				<div class="pas-public">
					<h2>Compétences{{ profil.competences|pluralize }}</h2>
				</div>
				<label for="profil-competences" class="btn btn-default make-edit">
					<span class="glyphicon glyphicon-pencil"></span>
					Modifier mes compétences
				</label>
				<label for="profil-competences" class="btn btn-default cancel-edit">
					<span class="glyphicon glyphicon-remove"></span>
					Annuler la modification
				</label>
			{% endif %}
		</div>

	</div>
	

	</div>
</div>

{% endblock content %}