{% extends "base.html" %}
{% load static %}



{% block head %}{{ block.super }}

<title>{{ user_object.username | capfirst }}</title>

{% endblock head %}



{% block content %}

<h1>
    {{ user_object.username | capfirst }}, the Brave <!--title-->
</h1>

<div class="avatar placeholder">
    {% if user_object == user %}
    Click here to upload your avatar.<!--avatar-->
    {% else %}
    {{ user_object.username | capfirst }} has not uploaded an avatar.
    {% endif %}

</div>

<div class="resumay">

    <div class="trophies placeholder">
        {% if user_object == user %}
        You have not acquired trophies.
        {% else %}
        {{ user_object.username | capfirst }} has not acquired any trophies.
        {% endif %}
    </div>

    <ul>
    <li>Last seen {{ user_object.last_login | timesince }} ago.</li>
    </ul>

</div>

{% if player == "not_in_game" %}

<a class="important button" href="{% url 'join_a_new_town' %}">Join a new town</a>

{% else %}

<h3>
Current residence : <a href="{% url 'town_map' player.town.slug %}">{{ player.town.name }}</a> <!--residence-->
</h3>

<!--
<div class="mapthumbnail placeholder">
Current map unavailable.map
</div>


<ul class="links">
<li>(some statistics)</li>
<li>Leave city</li>
</ul>
-->

{% endif %}


{% comment %}
<h3>
    Test string : {{ player }}
</h3>
{% endcomment %}


{% endblock content %}

