{% extends "base.html" %}
{% load static %}

{% block head %}{{ block.super }}

<title>{{ post.title }}</title>

<link rel="stylesheet" href="{% get_static_prefix %}css/aggregateur.css" >

{% endblock head %}



{% block content %} {{ block.super }}

<div class="aggregateur self col-md-9">

	<article class="post clearfix card" id="post-{{ post.id }}">

		<div class="postbox">
					{% if post.format == "TEXT" %}
						<a href="{% url 'aggregateur' %}{{ post.slug }}">
					{% elif post.format == "LINK" %}
						<a href="{{ post.link }}" target="_blank">
					{% endif %}
							<h1 class="title">{{ post.title }}</h1>
						</a>
			{% comment %}<span class="source">(<a href="#">loremipsum.com</a>)</span> {% endcomment %}

			{% if post.illustration %}
			<div class="illustration">
				<a href="{{ post.link }}" target="_blank">
				<img src="{{ post.illustration }}"/>
				</a>
			</div>
			{% endif %}
			<div class="anchor"></div>

			<div class="meta">
				<span class="author">Par <a href="{% url 'membres' %}{{ post.author.id }}">{{ post.author.profil.nom_courant }}</a>
				</span><span class="date">, il y a <time datetime="{{ post.date }}">{{ post.date|timesince }}</time>
				</span>{% if post.channel %}, <span class="channel">dans {{ post.channel }}</span>{% endif %}
			</div>

			<div class="healthbox">
				<div class="vote pos" data-postid="{{ post.id }}"><span class="glyphicon glyphicon-arrow-up"></span></div>
				<div class="health">{{ post.health }}</div>
				<div class="vote neg" data-postid="{{ post.id }}"><span class="glyphicon glyphicon-arrow-down"></span></div>
			</div>

			{% if post.format == "TEXT" %}
			<div class="content">
				{% load markdown_deux_tags %}
				{{ post.content|markdown }}
			</div>
			{% endif %}
			
			<div class="actions">
				<span class="nombre-de-commentaires">
					<a href="{% url 'aggregateur' %}{{ post.slug }}">
					{% if post.number_of_comments = 0 %}
						pas de commentaires
					{% else %}
						{{ post.number_of_comments }} commentaire{{ post.number_of_comments|pluralize }}
					{% endif %}
					</a>
				</span>
{% comment %}	<span class="share">partager</span> {% endcomment %}
{% comment %}	<span class="favorite">ajouter aux favoris</span> {% endcomment %}
{% comment %}	<span class="hide">cacher</span> {% endcomment %}
{% comment %}	<span class="report">signaler</span> {% endcomment %}
			</div>

			<div class="comment-form root-commentor">
				{% include "aggregateur/nouveau_commentaire.html" %}
				<button class="btn btn-primary btn-block toggle" role="button"></button>
			</div>
			

		</div>

	</article>

	<div class="comments">
	{% comment %} This code also exists in the "commentaire" page {% endcomment %}
		{% for comment in post.comment_set.all %}
			{% include "aggregateur/commentaire.html" %}
		{% endfor %}

	</div>

</div>


{% endblock content %}



{% block scripts %} {{ block.super }}

<script src="{% get_static_prefix %}js/aggregateur.js"></script>

{% endblock scripts %}