{% extends "base.html" %}
{% load static %}

{% block head %}{{ block.super }}

<title>{{ post.title }}</title>
<link rel="stylesheet" href="{% get_static_prefix %}css/aggregateur.css" >

{% endblock head %}



{% block content %} {{ block.super }}


<div class="aggregateur">
	<div class="post">
		<div class="healthbox">
			<a class="vote pos">↑</a>
			<div class="health">{{ post.health }}</div>
			<a class="vote neg">↓</a>
		</div>
		<div class="illustration">
			<!-- img goes here -->
		</div>
		<div class="postbox">
				<a href="{% url 'aggregateur' %}{{ post.link }}">
					<h1 class="title">{{ post.title }}</h1>
				</a>
				<span class="source">(<a href="#">loremipsum.com</a>)</span>
			<div class="meta">
				<span class="date">Il y a 3 heures</span>
				<span class="author"> par <a href="#">Barnaby Brachamul</a></span>
				{% comment %}<span class="channel"> dans <a href="#">/c/posts</a></span>{% endcomment %}
			</div>
			<div class="actions">
				<span class="comments">34 commentaires</span>
				<span class="share">partager</span>
				<span class="favorite">ajouter aux favoris</span>
				<span class="hide">cacher</span>
				<span class="report">signaler</span>
			</div>
		</div>
	</div>
		<div class="content panel panel-default">
			<div class="panel-body">
				{{ post.content }}
			</div>
		</div>
</div>



{% endblock content %}