{% extends "base.html" %}
{% load static %}

{% block head %}{{ block.super }}

<title>{{ post.title }}</title>

<link rel="stylesheet" href="{% get_static_prefix %}css/aggregateur.css" >

{% endblock head %}



{% block content %} {{ block.super }}

<div class="aggregateur">

	<div class="post clearfix" id="post-{{ post.id }}">
		<div class="healthbox">
			<div class="vote pos {% if post.color == "POS" %}active{% endif %}" data-postid="{{ post.id }}">↑<sup>+1</sup></div>
			<div class="health">{{ post.health }}</div>
			<div class="vote neg {% if post.color == "NEG" %}active{% endif %}" data-postid="{{ post.id }}">↓<sup>-1</sup></div>
		</div>
		<div class="illustration">
			<!-- img goes here -->
		</div>
		<div class="postbox">
			<a href="{% url 'aggregateur' %}{{ post.link }}">
				<h1 class="title">{{ post.title }}</h1></a>
			<span class="source">(<a href="#">loremipsum.com</a>)</span>
			<div class="meta">
				<span class="date">Il y a 3 heures</span>
				<span class="author"> par <a href="#">Barnaby Brachamul</a></span>
				{% comment %}<span class="channel"> dans <a href="#">/c/posts</a></span>{% endcomment %}
			</div>
			<div class="actions">
				<span class="comments">34 commentaires</span>
				<span class="share">partager</span>
				<span class="favorite">ajouter aux favoris</span>
				<span class="hide">cacher</span>
				<span class="report">signaler</span>
			</div>
		</div>
	</div>

	<div class="content panel panel-default">
		<div class="panel-body">
			{{ post.content }}
		</div>
	</div>

<div class="comments">
{% include "aggregateur/nouveau_commentaire.html" %}
{% for comment in post.comment_set.all %}
<div class="panel panel-default">
	<div class="panel-body">
		{% include "aggregateur/commentaire.html" %}
		{% for comment in comment.comment_set.all %}
		<div class="panel panel-default">
			<div class="panel-body">
				{% include "aggregateur/commentaire.html" %}
				{% for comment in comment.comment_set.all %}
				<div class="panel panel-default">
					<div class="panel-body">
						{% include "aggregateur/commentaire.html" %}
						{% for comment in comment.comment_set.all %}
						<div class="panel panel-default">
							<div class="panel-body">
								{% include "aggregateur/commentaire.html" %}
								{% for comment in comment.comment_set.all %}
								<div class="panel panel-default">
									<div class="panel-body">
										{% include "aggregateur/commentaire.html" %}
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endfor %}
</div>

</div>

{% endblock content %}



{% block scripts %} {{ block.super }}

<script src="{% get_static_prefix %}js/aggregateur.js"></script>

{% endblock scripts %}