{% extends "aggregateur/channel.html" %}
{% load static %}

{% block primary_content %}

<div class="aggregateur self">

	<div class="alert alert-warning card">
		<i class="fa fa-warning-sign"></i> Vous consultez un commentaire appartenant aux réponses d'un post. Pour revenir au post et voir les autres commentaires, cliquez <a href="{% url 'post' post.date.year post.slug %}"><strong>ici</strong></a>.
	</div>

	<div class="comments">

		<div class="comments-wrapper">
		
			{% include "aggregateur/commentaire.html" %}
	
		</div>

	</div>

</div>

{% endblock primary_content %}