<div class="aggregateur panel panel-default">
	<div class="panel-heading" style="text-align: right;">
		<a href="{% url 'nouveau_post' %}">
			<span class="glyphicon glyphicon-plus"></span>
			créer un nouveau post
		</a>
	</div>
	<div class="panel-body">

		{% if aggregateur.posts.has_previous %}
			{% include "aggregateur/pagination.html" %}
		{% endif %}

		{% for post in aggregateur.posts %}
			<div class="post" id="post-{{ post.id }}">
				<div class="healthbox">
					<div class="vote pos {% if post.color == "POS" %}active{% endif %}" data-postid="{{ post.id }}">▲<sup>+1</sup></div>
					<div class="health">{{ post.health }}</div>
					<div class="vote neg {% if post.color == "NEG" %}active{% endif %}" data-postid="{{ post.id }}">▼<sup>-1</sup></div>
				</div>
				<div class="illustration">
					<!-- img goes here -->
				</div>
				<div class="postbox">
					{% if post.format == "TEXT" %}
						<a href="{% url 'aggregateur' %}{{ post.slug }}">
					{% elif post.format == "LINK" %}
						<a href="{{ post.link }}" target="_blank">
					{% endif %}
							<h4 class="title">{{ post.title }}</h4>
						</a>
{% comment %}			<span class="source">(<a href="#">loremipsum.com</a>)</span> {% endcomment %}
					<div class="meta">
						<span class="date">Il y a {{ post.date|timesince }},</span>
						<span class="author">par <a href="{% url 'membres' %}{{ post.author.id }}">{{ post.author.profil.nom_courant }}</a></span>
{% comment %}			<span class="channel"> dans <a href="#">/c/posts</a></span> {% endcomment %}
					</div>
					<div class="actions">
					<span class="comments">
						<a href="{% url 'aggregateur' %}{{ post.slug }}">
						{% if post.number_of_comments = 0 %}
							pas de commentaires
						{% else %}
							{{ post.number_of_comments }} commentaire{{ post.number_of_comments|pluralize }}
						{% endif %}
						</a>
					</span>
{% comment %}			<span class="share">partager</span> {% endcomment %}
{% comment %}			<span class="favorite">ajouter aux favoris</span> {% endcomment %}
{% comment %}			<span class="hide">cacher</span> {% endcomment %}
{% comment %}			<span class="report">signaler</span> {% endcomment %}
					</div>
				</div>
			</div>
		{% endfor %}

		{% include "aggregateur/pagination.html" %}
		
		{% if user.is_superuser %}
		<p style="display: none;">
			<span id="postranker" class="btn btn-primary">Rank posts !</span>
			<span id="postranker-result"></span>
		</p>
		<p style="display: none;">
			<span id="commentmedic" class="btn btn-primary">Comment medic !</span>
			<span id="commentmedic-result"></span>
		</p>
		{% endif %}
		
	</div>
</div>