{% load static %}
<link rel="stylesheet" href="{% get_static_prefix %}css/aggregateur.css" >

<div class="fil-info panel panel-default">
	<div class="panel-heading">
		<a href="{% url 'nouveau_post' %}">
			<span class="glyphicon glyphicon-plus"></span>
			créer un nouveau post
		</a>
	</div>
	<div class="panel-body">
		{% for post in aggregateur.posts %}
			<div class="post">
				<div class="scorebox">
					<div class="vote pos">↑</div>
					<div class="score">{{ post.score }}</div>
					<div class="vote neg">↓</div>
				</div>
				<div class="illustration">
					<!-- img goes here -->
				</div>
				<div class="postbox">
						<a href="{% url 'aggregateur' %}{{ post.link }}">
							<h4 class="title">{{ post.title }}</h4>
						</a>
						<span class="source">(<a href="#">loremipsum.com</a>)</span>
					<div class="meta">
						<span class="date">Il y a 3 heures</span>
						<span class="author"> par <a href="#">Barnaby Brachamul</a></span>
						{% comment %}<span class="channel"> dans <a href="#">/c/posts</a></span>{% endcomment %}
					</div>
					<div class="actions">
						<span class="comments">34 commentaires</span>
						<span class="share">partager</span>
						<span class="favorite">ajouter aux favoris</span>
						<span class="hide">cacher</span>
						<span class="report">signaler</span>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
