{% load bootstrap3 %}

{% comment %} <div class="alert alert-success card">Chouette!</div>	{% endcomment %} 

{% if user.is_authenticated %}

<div class="card card-big">

	{% if channel == "accueil" %}
	<h3>Accueil</h3>
	<div class="box">
		<p>Bienvenue sur Élan Démocrate.</p>
		<a class="btn btn-xs btn-default" href="{% url 'nouveau_post' %}">
			<i class="fa fa-plus"></i> nouveau post </a>
	{% elif channel %}
	<h3>{{ channel.name }}</h3>
	<div class="box">
		<p>{{ channel.description}}</p>
		<a class="btn btn-xs btn-default" href="{% url 'nouveau_post_avec_chaine' channel %}">
			<i class="fa fa-plus"></i> nouveau post </a>
	</div>
	{% endif %}
</div>

{% else %}

<div class="card card-big">
	<h3>Visiteur</h3>
	<div class="box">
		<p>Vous consultez notre site en mode visiteur.</p>
		<p>Authentifiez-vous pour avoir accès à l'intégralité de la page.</p>
		<p><a href="{% url 'connexion' %}" class="btn btn-primary btn-block" style="color: white;" onclick="window.open(this.href, 'Authentification', 'width=600, height=400'); return false">Authentification</a></p>
	</div>
</div>

{% endif %}