{% load bootstrap3 %}

{% comment %} <div class="alert alert-success card">Chouette!</div>	{% endcomment %} 

{% if user.is_authenticated %}

<div class="card card-big">

	<h3>{{ page_title }}</h3>

	<div class="box">
		{% if channel %}
		<p>{{ channel.description}}</p>
		<p style="margin: 1em 0;">Animateurs :<br/>{% for actor in channel.moderators.all %}{% include 'actor.html' %} {% endfor %}</p>
		<p><a class="btn btn-xs btn-default btn-block" href="{% url 'nouveau_post_avec_chaine' channel.slug %}"><i class="fa fa-plus"></i> nouveau post </a></p>
		<p><a class="btn btn-xs btn-default btn-block" href="sub">
			<i class="fa fa-edit"></i> s'abonner</a></p>
		{% else %}
		<p>Bienvenue sur Élan Démocrate.</p>
		<p><a class="btn btn-xs btn-default btn-block" href="{% url 'nouveau_post' %}">
			<i class="fa fa-plus"></i> nouveau post</a></p>
		{% endif %}
		<p><a class="btn btn-xs btn-default btn-block" href="{% url 'liste_des_chaines' %}">
			<i class="fa fa-arrow-right"></i> toutes les chaînes</a></p>
	</div>

</div>

{% else %}

<div class="card card-big">
	<h3>Visiteur</h3>
	<div class="box">
		<p>Vous consultez notre site en mode visiteur.</p>
		<p>Authentifiez-vous pour avoir accès à l'intégralité de la page.</p>
		<p><a href="{% url 'connexion' %}" class="btn btn-primary btn-block" style="color: white;" onclick="window.open(this.href, 'Authentification', 'width=600, height=400'); return false">Authentification</a></p>
	</div>
</div>

{% endif %}