{% extends "base.html" %}
{% load static %}

{% block head %}{{ block.super }}

<link rel="stylesheet" href="{% get_static_prefix %}css/aggregateur.css" >

{% endblock head %}


{% block content %}

<div id="aggregateur">

	<div id="primary-wrapper">

		<div class="card card-big" style="text-align: center; margin-bottom: 0;">

		<h1>{{ page_title }}</h1>

		{% if not channels %}

			<p class="card-announcement">
				Vous n'êtes pas encore abonné à une chaîne. Retrouvez toutes les chaînes {% url 'public_channels' %}ici.
			</p>
		
		{% endif %}

		</div>


		{% if channels %}

			<div class="channels row" style="display: flex; flex-wrap: wrap;">

			{% for channel in channels %}

				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
	
					<div class="channel card">

						<div class="title">
							<a href="{% url 'chaine' channel.slug %}">{{ channel.name }}</a>
						</div>

						<div>
							<span>{{ channel.num_subscribers }} inscrit{{ channel.num_subscribers|pluralize }} | </span>
							{% if channel.is_default %}
								<span data-toggle="tooltip" data-placement="top" title="par défaut">
									<i class="fa fa-newspaper-o"></i>
								</span>
							{% endif %}
	
							{% if channel.is_private %}
								<span data-toggle="tooltip" data-placement="top" title="privée">
									<i class="fa fa-lock"></i>
								</span>
							{% endif %}
	
							{% if channel.is_secret %}
								<span data-toggle="tooltip" data-placement="top" title="secrète">
									<i class="fa fa-eye-slash"></i>
								</span>
							{% endif %}
						</div>
	
						<div style="font-size: 0.8em;" >
							Animateur{{ channel.moderators.all|pluralize }} :
							<span class="moderators actors">{% for actor in channel.moderators.all %}{% include 'actor.html' %} {% endfor %}</span>
						</div>

						<div style="font-size: 0.8em; font-style: italic; margin: .5em 0;">{{ channel.description }}</div>
	
					</div>

				</div>

			{% endfor %}

		{% endif %}

		</div>

	</div>

	<div id="secondary-wrapper">

		<div class="card card-big">

			<h3>À propos</h3>
			
			<div class="box">
				<p>Les chaînes sont crées et gérées par les utilisateurs du site.</p>
				<p>Ce sont les contenus de ces chaînes qui forment la page d'accueil.</p>
			</div>


			<a href="{% url 'public_channels' %}" class="btn btn-default btn-sm btn-block">
				<i class="fa fa-link"></i> Toutes les chaînes
			</a>

			<a href="{% url 'my_channels' %}" class="btn btn-default btn-sm btn-block">
				<i class="fa fa-heart"></i> Mes chaînes
			</a>

			<a href="{% url 'nouvelle_chaine' %}" class="btn btn-default btn-sm btn-block">
				<i class="fa fa-plus"></i> Nouvelle chaîne
			</a>

			<hr/>

			<div class="box">
				<p>Les chaînes <i class="fa fa-eye-slash"></i> secrètes ne sont pas affichées ici, car elles sont... secrètes !</p>
				<p>Les posts que vous voyez en page d'accueil viennent soit des chaînes auxquelles vous avez <i class="fa fa-heart"></i> souscrites, soit des chaînes <i class="fa fa-newspaper-o"></i> par défaut.</p>
				<p>Vous pouvez <i class="fa fa-ban"></i> ignorer une chaîne par défaut, si ses contenus ne vous intéressent pas.</p>
			</div>

		</div>

	</div>

	<div class="anchor"></div>

</div>


<style>



.channels.row { margin: 4px -4px; padding-bottom: 1em; }

.channels.row [class^="col"] { padding: 0;}

.channels .channel.card { line-height: 1.2; margin: 4px; padding: 1em; }
.channel > div { margin-bottom: .5rem; }


.channel .title { font-size: 1.5em; transition: all .5s; }
.channel .title:hover { margin-left: .1em; }


</style>

<script>

	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})

</script>

{% endblock content %}