{% load bootstrap3 %}

{% comment %} <div class="alert alert-success card">Chouette!</div>	{% endcomment %} 

{% if user.is_authenticated %}

<div class="card card-big">

	<h3>{{ page_title }}</h3>

	<div class="box">

		{% if channel %}

			{% if channel.is_private and user not in channel.subscribers.all and user not in channel.moderators.all %}

			{% else %}

				<p>{{ channel.description}}</p>
				<p style="margin: 1em 0;">Animateurs :<br/><span class="moderators">{% for actor in channel.moderators.all %}{% include 'actor.html' %} {% endfor %}</span></p>
				<p><a class="btn btn-xs btn-default btn-block" href="{% url 'nouveau_post_avec_chaine' channel.slug %}"><i class="fa fa-plus"></i> nouveau post </a></p>
			
				{% if user in channel.subscribers.all %}	
					<p><a class="btn btn-xs btn-default btn-block" href="{% url 'leave_channel' channel.slug %}">
						<i class="fa fa-times"></i> se désabonner</a></p>				
				{% else %}
					<p><a class="btn btn-xs btn-default btn-block" href="{% url 'join_channel' channel.slug %}">
						<i class="fa fa-edit"></i> s'abonner</a></p>
				{% endif %}

			{% endif %}

			{% if user in channel.moderators.all %}
			<hr>
			<p><strong>Message aux animateurs de chaînes :</strong></p>
			<p>La fonctionnalité "chaînes" vient d'être créée et est encore en beta.</p>
			<p> Les aspects d'administration de la chaîne, notamment, ne sont pas encore totalement aboutis.</p>
			<p>Si vous avez besoin d'aide pour modifier un aspect de votre chaîne, n'hésitez pas à écrire directement à contact@elandemocrate.fr</p>
			<hr>
			{% endif %}

		{% else %}

			<p>Bienvenue sur Élan Démocrate.</p>
			<p><a class="btn btn-xs btn-default btn-block" href="{% url 'nouveau_post' %}">
				<i class="fa fa-plus"></i> nouveau post</a></p>

		{% endif %}

			<p><a class="btn btn-xs btn-default btn-block" href="{% url 'public_channels' %}">
				<i class="fa fa-arrow-right"></i> toutes les chaînes</a></p>
	</div>

</div>

{% else %}

<div class="card card-big">
	<h3>Visiteur</h3>
	<div class="box">
		<p>Vous consultez notre site en mode visiteur.</p>
		<p>Authentifiez-vous pour avoir accès à l'intégralité de la page.</p>
		<p><a href="{% url 'connexion' %}" class="btn btn-primary btn-block" style="color: white;" onclick="window.open(this.href, 'Authentification', 'width=600, height=400'); return false">Authentification</a></p>
	</div>
</div>

{% endif %}