<div>
	<span>{{ channel.num_subscribers }} abonné{{ channel.num_subscribers|pluralize }} | </span>
	{% if channel.is_default %}
		<span data-toggle="tooltip" data-placement="top" title="par défaut">
			<i class="fa fa-newspaper-o"></i>
		</span>
	{% endif %}

	{% if channel.is_private %}
		<span data-toggle="tooltip" data-placement="top" title="privée">
			<i class="fa fa-lock"></i>
		</span>
	{% endif %}

	{% if channel.is_secret %}
		<span data-toggle="tooltip" data-placement="top" title="secrète">
			<i class="fa fa-eye-slash"></i>
		</span>
	{% endif %}
</div>