<input id="checkbox-close-comment-{{ comment.pk }}" type="checkbox" />

<div class="comment">
	<div class="meta">
		<label for="checkbox-close-comment-{{ comment.pk }}">[<span class="minus">–</span><span class="plus">+</span>]</label>
		<a href="{% url 'membres' %}{{ comment.author.pk }}">
			{{ comment.author.profil.nom_courant }},</a>
		<span>{{ comment.date|timesince }}</span>
	</div>
	
	<div class="content">
		{{ comment.content }}
	</div>
	
	<div class="actions">
{% comment %}	<span class="permalink">lien</span> {% endcomment %}
		{% if user == comment.author %}
{% comment %}	<span class="modify">modifier</span> {% endcomment %}
		{% endif %}
		<label for="checkbox-replyto-comment-{{comment.pk}}">
		<span class="reply">répondre</span></label>
{% comment %}	<span class="report">signaler</span> {% endcomment %}
	</div>
</div>

<input id="checkbox-replyto-comment-{{ comment.pk }}" type="checkbox"/>
<div class="comment_form panel-body">
	<form method="POST" action="" enctype="multipart/form-data">
		<div class="form-group">
			{% csrf_token %}
			<div class="form-group">
				{{ comment_form.content.field.errors }}
				{{ comment_form.content }}
			</div>
			<input type="hidden" name="parent_comment" value="{{ comment.pk }}">
			<button type="submit" class="btn btn-primary">Poster</button>

		</div>
	 </form>
</div>
