<div class="comment">
	<div class="meta">
		<a href="{% url 'membre' %}{{ comment.author.pk }}">
			{{ comment.author.profil.nom_courant }}</a>
		<span>, {{ comment.date|timesince }}</span>
	</div>
	
	<div class="content">
		{{ comment.content }}
	</div>
	
	<div class="actions">
		<span class="permalink">lien</span>
		{% if user == comment.author %}
		<span class="modify">modifier</span>
		{% endif %}
		<label for="checkbox-comment-{{comment.pk}}">
		<span class="reply">répondre</span></label>
		<span class="report">signaler</span>
	</div>
</div>

<input id="checkbox-comment-{{ comment.pk }}" class="comment_form_checkbox" type="checkbox"/>
<div class="comment_form panel-body">
	<form method="POST" action="" enctype="multipart/form-data">
		<div class="form-group">
			{% csrf_token %}
			<div class="form-group">
				{{ comment_form.content.field.errors }}
				{{ comment_form.content }}
			</div>
			<input type="hidden" name="parent_comment" value="{{ comment.pk }}">
			<button type="submit" class="btn btn-primary">Poster</button>

		</div>
	 </form>
</div>
