{% extends "base.html" %}
{% load static %}

{% block head %}{{ block.super }}

<link rel="stylesheet" href="{% get_static_prefix %}css/aggregateur.css" >

{% endblock head %}



{% block content %} {{ block.super }}

{{ post_form.non_field_errors }}

<div class="col-sm-6">

	<div class="nouveau-post panel panel-default">
		<div class="panel-heading">
			<h4>Poster un nouveau texte</h4>
		</div>
		<div class="panel-body">
			<form id="post_text_form" method="POST" action="" enctype="multipart/form-data">
				<div class="form-group">
					{% csrf_token %}
					<div class="form-group">
						{{ post_text_form.Titre.field.errors }}
						<label for="{{ post_text_form.Titre.id_for_label }}">Titre</label>
						{{ post_text_form.Titre }}
						<span class="help-block">Choisissez de préférence un titre court et explicite.</span>
					</div>
					<div class="form-group">
						{{ post_text_form.Chaîne.field.errors }}
						<label for="{{ post_text_form.Chaîne.id_for_label }}">Chaîne</label>
						<select class="form-control" id="id_Chaîne" name="Chaîne">
							{% for option in channels %}
							<option value="{{ option.slug }}"
							{% if option == posting_channel %} selected="selected" {% endif %}>
							{{ option.name }}
							</option>
							{% endfor %}
						</select>
					</div>
					<div>
					{{ channel.slug }}
					</div>
					<div class="form-group">
						{{ post_text_form.Texte.field.errors }}
						<label for="{{ post_text_form.Texte.id_for_label }}">Texte</label>
						{{ post_text_form.Texte }}
						<span class="help-block">Entourez un mot avec deux *<em>asterisques</em>* pour qu'il s'inscrive en italique, et quatre **<strong>asterisques</strong>** pour qu'il s'inscrive en gras.</span>
					</div>
					<div class="form-group">
						{{ post_text_form.Illustration.field.errors }}
						<label for="{{ post_text_form.Illustration.id_for_label }}">Illustration</label>
						{{ post_text_form.Illustration }}
						<span class="help-block">Facultatif. Insérez l'URL d'une image. Vous pouvez héberger vos images sur <a href="http://imgur.com" target="_blank">imgur</a>.</span>
					</div>
					<div class="form-group">
						{{ post_text_form.Partageable.field.errors }}
						<label for="{{ post_text_form.Partageable.id_for_label }}">Partageable</label>
						<label for="{{ post_text_form.Partageable.id_for_label }}" style="display: inline; font-weight: normal;"><span class="help-block">{{ post_text_form.Partageable }} Cochez pour que le titre et l'illustration de ce post soient partageables sur les réseaux sociaux. Le texte et les commentaires ne resteront accessibles qu'aux utilisateurs authentifiés.</span></label>
					</div>
					<input type="hidden" name="format" value="TEXT">
					<button type="submit" class="btn btn-primary">Poster</button>
				</div>
			 </form>
		</div>
	</div>

</div>

<div class="col-sm-6">

	<div class="nouveau-post panel panel-default">
		<div class="panel-heading">
			<h4>Partager un nouveau lien</h4>
		</div>
		<div class="panel-body">
			<form id="post_form" method="POST" action="" enctype="multipart/form-data">
				<div class="form-group">
					{% csrf_token %}
					<div class="form-group">
						{{ post_link_form.Titre.field.errors }}
						<label for="{{ post_link_form.Titre.id_for_label }}">Titre</label>
						{{ post_link_form.Titre }}
						<span class="help-block">Choisissez de préférence un titre court et explicite.</span>
					</div>
					<div class="form-group">
						{{ post_link_form.Chaîne.field.errors }}
						<label for="{{ post_link_form.Chaîne.id_for_label }}">Chaîne</label>
						<select class="form-control" id="id_Chaîne" name="Chaîne">
							{% for option in channels %}
							<option value="{{ option.slug }}"
							{% if option == posting_channel %}selected="selected"{% endif %}>
							{{ option.name }}
							</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						{{ post_link_form.Lien_URL.field.errors }}
						<label for="{{ post_link_form.Lien_URL.id_for_label }}">Lien URL</label>
						{{ post_link_form.Lien_URL }}
					</div>
					<div class="form-group">
						{{ post_link_form.Partageable.field.errors }}
						<label for="{{ post_link_form.Partageable.id_for_label }}">Partageable</label>
						<label for="{{ post_link_form.Partageable.id_for_label }}" style="display: inline; font-weight: normal;"><span class="help-block">{{ post_link_form.Partageable }} Cochez pour que le titre et le lien URL de ce post soient partageables sur les réseaux sociaux. Les commentaires ne resteront accessibles qu'aux utilisateurs authentifiés.</span></label>
					</div>
					<input type="hidden" name="format" value="LINK">
					<button type="submit" class="btn btn-primary">Poster</button>
				</div>
			 </form>
		</div>
	</div>

</div>


{% endblock content %}



{% block scripts %} {{ block.super }}

<script src="{% get_static_prefix %}js/aggregateur.js"></script>

{% endblock scripts %}