{% extends "aggregateur/channel.html" %}
{% load static %}

{% block primary_content %}

	<article class="post card card-big" data-postid="{{ post.id }}" data-health="{{ post.health }}" data-color="{{ post.color }}">

		<div class="postbox">

			{% if post.format == "TEXT" %}
			<a href="{% url 'aggregateur' %}{{ post.slug }}">
			{% elif post.format == "LINK" %}
			<a href="{{ post.link }}" target="_blank">
			{% endif %}
				<h1 class="title">{{ post.title }}</h1>
			</a>
			{% comment %}<span class="source">(<a href="#">loremipsum.com</a>)</span> {% endcomment %}

			<span class="healthbox">
				<span class="vote pos" data-color="POS"><span class="glyphicon glyphicon-circle-arrow-up"></span></span>
				<span class="health">{{ post.health }}</span>
				<span class="vote neg" data-color="NEG"><span class="glyphicon glyphicon-circle-arrow-down"></span></span>
			</span>

			<div class="meta">
				<span class="author">Par <a href="{% url 'membres' %}{{ post.author.id }}">{{ post.author.profil.nom_courant }}</a>
				</span><span class="date">, il y a <time datetime="{{ post.date }}">{{ post.date|timesince }}</time>
				</span>{% if post.channel %}, <span class="channel">dans {{ post.channel }}</span>{% endif %}
			</div>

			{% if post.illustration %}
			<div class="illustration">
				<img src="{{ post.illustration }}" />
			</div>
			{% endif %}
			<div class="anchor"></div>

			{% if post.format == "TEXT" %}
			<div class="content">
				{% load markdown_deux_tags %}
				{{ post.content|markdown }}
			</div>
			{% endif %}

			{% if post.author == user %}
			<form class="modifier" method="POST" action="" enctype="multipart/form-data">
				<div class="form-group">
					{% csrf_token %}
					<textarea id="post-input" name="content" rows="5" class="form-control" maxlength="10000">{{ post.content }}</textarea>
					<input type="hidden" name="action" value="modifier_le_post">
					<input type="hidden" name="post-pk" value="{{ post.pk }}">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-ok"></span>
						Enregistrer
					</button>
					</input>
					<span class="btn btn-default btn-sm cancel-edit">
						<span class="glyphicon glyphicon-remove"></span>
						Annuler
					</span>
				</div>
			</form>
			{% endif %}

			<div class="actions">
				<span class="nombre-de-commentaires link">
					<a href="{% url 'aggregateur' %}{{ post.slug }}">
					{% if post.number_of_comments = 0 %}
						pas de commentaires
					{% else %}
						{{ post.number_of_comments }} commentaire{{ post.number_of_comments|pluralize }}
					{% endif %}
					</a>
				</span>
				<span class="modify link">modifier</span>
{% comment %}	<span class="share">partager</span> {% endcomment %}
{% comment %}	<span class="favorite">ajouter aux favoris</span> {% endcomment %}
{% comment %}	<span class="hide">cacher</span> {% endcomment %}
{% comment %}	<span class="report">signaler</span> {% endcomment %}
			</div>
		
		</div>

	</article>

	<div class="comment-form root-commentor">
		{% include "aggregateur/nouveau_commentaire.html" %}
		<button class="btn btn-primary btn-block toggle card" role="button"></button>
	</div>

	<div class="comments">
	{% comment %} This code also exists in the "commentaire" page {% endcomment %}
		{% for comment in post.comment_set.all %}
			{% include "aggregateur/commentaire.html" %}
		{% endfor %}

	</div>

{% endblock primary_content %}